
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Страница входа</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

</head>
<body class="text-center">


    <form class="form-signin" action="/user_registration" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please registration</h1>

        <ul class="error font-weight-normal p-1 list-unstyled">
            <li th:if="${checkLogin}">Такой Login уже существует.</li>
            <li th:if="${checkEmail}">Такой Email уже существует.</li>
            <li th:if="${checkData}">Поля не заполненые.</li>
        </ul>

        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" name="user_login" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
        <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
    </form>

</body>

</html>